.product-flex-container {
	display: flex;
	flex-wrap: wrap;

}
.product-item {
	padding: 0rem;
	border: var(--divine-border);
	flex-direction: column;
	display: flex;
	margin: 1rem;
	width: 24rem;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	background-color: var(--product-background);
	border-radius:1rem;
	
}
