.navbar-toggler {
    background-color: var(--compliment01);
}
.light-switch {
    display: flex;
    flex-direction: row;
    margin: 0.8rem;
}
.top-row {
    background-color: var(--main03);
    border-bottom: var(--compliment-border)
        
}

.navbar-brand {
    font-size: 1.7rem;
    text-align: center;
    font-family: 'ThinManGiambattista';
    text-decoration-line: underline;
    padding-bottom: 0.7rem;
    color: var(--font-color);
}

.navbar-brand:hover {
    color: var(--divine-gold);
}
.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    margin: 0rem;
}
    /*
.nav-link {
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--compliment025);
}
*/
    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 0px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: var(--compliment025);
            color: var(--font-color);
        }

        .nav-item ::deep a:hover {
            background-color: var(--compliment01);
            color: var(--font-color);
        }

.fullMenu {
    border-right: none;
    border-bottom: var(--compliment-border);
    height: 100%;
    background-color: var(--main08);
    z-index: 100;
    position: relative;
}
.nav-list {
    display: flex;
    flex-direction: column;
}
.culture {
    margin-bottom:2rem; 
    margin-top:2rem;
}
@media (min-width: 641px) 
{
    .navbar-toggler {
        display: none;
    }
    .top-row {
        background-color: transparent;
        border-bottom: none;
        padding: 0rem;
        padding-left: 1rem;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: flex;
        flex-direction: row;
    }
    .fullMenu {
        border-right: var(--compliment-border);
        border-bottom: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: var(--compliment-border);
    }
    .nav-list {
        display: flex;
        flex-direction: row;
    }
    .nav-item {
        font-size: 0.9rem;
        padding: 0rem;
        height: 5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

    }

    .nav-item:first-of-type {
        padding-top: 0rem;
        padding-left: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 0rem;
        padding-right: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 0px;
        height: 5rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }
    .nav-link {
        height: 5rem;

    }

    .culture {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin:0rem;
    }

    .light-switch {

        padding-top:1rem;
    }
    }
